body {
   
}

#map {
    width: 20em;
    height: 30vh;
}

.grid {
    display: grid;
}

.collum {
    grid-template-columns: 1fr 1fr;
}

.location {
    background-color: rgb(43, 81, 114);
    width: 20em;
    height: 15vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    height: 20px;
   
}

button {
    height: max-content;
    width: max-content;
}